{% extends "library/base_generic.html" %}
{% block content %}
    <div class="container">
        <h1>Staff Page</h1>
        <p>Here you can see all the books and do the necessary actions.</p>

        <!-- Create a form to add a new book -->
        <h2>Add a new book</h2>
        <form action="{% url 'staffusers:add_book' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add Book</button>
        </form>

        <!-- List of books -->
        <h2>List of Books</h2>
        <div class="row">
            {% for book in books %}
                <div class='col-4'>
                    <div class='card'>
                        <div class='card-body'>
                            <h5 class='card-title'>{{ book.title }}</h5>
                            <p class='card-text'> Some info about this book. </p>

                            <!-- Edit and Delete buttons -->
                            <a href="{% url 'staffusers:edit_book' book.id %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'staffusers:delete_book' book.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
